<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Casa do Homebrew</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div class="navbar">
        <h1><a href="/">Casa do Homebrew</a></h1>
        
        {% if user.is_authenticated %}
            <div class="menu-wrap">
                <input type="checkbox" class="toggler">
                <div class="hamburger"><div></div></div>
                <div class="menu">
                <div>
                    <div>
                    <ul>
                        <li><a href="{% url 'create_pdf' %}">Enviar PDF</a></li>
                        <li><a href="{% url 'logout' %}">Sair</a></li>
                    </ul>
                    </div>
                </div>
                </div>
            </div>
        {% else %}
            <h1><a href="{% url 'login' %}">login</a></h1>
        {% endif %}
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>