{% extends 'base.html' %}

{% block content %}
<h1 id="title">PDF LIST</h1>
<table>
    <thead>
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Download</th>
        </tr>
    </thead>
    <tbody>
        {% for pdf in object_list %}
            <tr>
                <td><a href="{% url 'pdf_view' pk=pdf.id %}">{{ pdf.title }}</a></td>
                <td>{{ pdf.author }}</td>
                <td>
                    <a href="{{ pdf.pdf.url }}">Download PDF</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
