<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Casa do Homebrew</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div class="navbar">
        <h1><a href="/">Casa do Homebrew</a></h1>
        <h1><a href="{% url 'create_pdf' %}">Enviar PDF</a></h1>

        {% if user.is_authenticated %}
        <h1><a href="{% url 'logout' %}">logout</a></h1>
        {% else %}
        <h1><a href="{% url 'login' %}">login</a></h1>
        {% endif %}
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>